- @posts = Post.all.order("post_likes_count DESC")
= stylesheet_link_tag "login"
= javascript_include_tag 'https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js'

#launch-to-space
  .row
    .col-lg-6.first-col
      .brand
        %img{:src => "/site/logo-main.png"}
      .login-options
        %p Join now and get started.
        %a.btn.btn-outline-primary{:type => "button", :href => "/users/auth/google_oauth2"} Login With Gmail
    .col-lg-4.second-col
      - @posts.each do |p|
        - if !p.content.blank?
          .post
            .media
              %img.mr-3{:src => "#{p.user.avatar.url}"}/
              .media-body
                %h5.mt-0
                  = p.user.name
                  %span.time-ago
                    %i.icon{"data-feather" => "clock"}
                    = time_ago_in_words(p.created_at) + " ago"
                %p{:style => "font-size: 13px;"}
                  = p.content

                - if p.image.url != ''
                  .content-div
                    %img{:src => "#{p.image.url}", :width => "500"}
                .stats
                  %span.likes
                    %i.icon{"data-feather" => "heart"}
                    = "#{p.post_likes_count} Likes"

:javascript
  feather.replace()
